footer{
    background-color: #13829B;
    width: 100%;
    height: auto;
    padding-top: 40px;
    color: rgb(202, 202, 202);
    font-size: 16px;
}
.footer-content h3{
    margin: 0;
}
/* footer content */
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    text-align: center;
    line-height: 24px;
}
/* text content */
.footer-content span{
    font-size: 14px;
}

/* bottom footer content on the left side */
.footer-bottom{
    padding-left: 10px;
}

/* list contact */
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials li{
    list-style: none;
    padding: 0 10px;
    transition:0.4s;
}
.socials a{
    text-decoration: none;
}
.socials img{
    width: 30px;
    height: 30px;
}
.socials span{
    position: fixed;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1px;
    color: #13829B;
    opacity: 0;
    transition: 0.5s;
}

/* contact effect */
.socials li:hover{
    transform: scale(1.5);
}
.socials li:hover span{
    opacity: 1;
}