body{
    background-color:#FDE9C9;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: auto;
    width: 100%;
    background-color:#13829B;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: auto;
}
nav li{
    list-style: none;
    margin: 0.5rem;
    margin-bottom: 0;
    padding: 10px 0px 10px 0px;
    border-radius:30px;
    transition: background-color 0.5s ease;
    /*Hover is start and ends slowly*/
}
/*set margin to far from right side*/
nav li:last-child{ 
    margin-right:50px;
}
nav a{
    color:#fff;
    text-decoration:none;
    padding: 10px 20px 10px 20px;
    transition: color 0.4s ease;
}
/*Navigation bar hover*/
nav li:hover{ 
    background-color: #29D2E4;
}
nav a:hover{
    color: #075b6e;
    
}
/* logo picture */
#logo{ 
    width: 100%;
    max-width: 150px;
    height: auto;
    padding-left: 50px;
    margin-right: auto;
}